---
import AuthLayout from "../../layouts/AuthLayout.astro";
import PasswordRegistration from "./PasswordRegistration.svelte";
---

<AuthLayout class="flex flex-col gap-4 text-center">
    <h1 class="font-bold text-lg">Set up a Password</h1>
    <p class="leading-tight max-w-md">
        If you can, use passkeys instead of passwords. We only recommend using passwords if you don't have
        practical access to a device or authenticator that support passkeys.
    </p>
    <PasswordRegistration client:load />
    <a href="/setup/step1" class="text-sm">Use Passkey instead (more secure)</a>
</AuthLayout>
