---
import AuthLayout from "../../layouts/AuthLayout.astro";
import PasswordSetup from "./PasswordSetup.svelte";
import {Button} from "@components/ui/button";
---

<AuthLayout step={2} class="flex flex-col gap-4">
    <h1 class="font-bold text-lg">Set up a Password</h1>
    <p class="text-neutral-600 leading-tight">
        If you can, use passkeys instead of passwords. We only recommend using passwords if you don't have
        practical access to a device or authenticator that support passkeys.
    </p>
    <PasswordSetup client:load />
    <Button client:load
            href="/setup/step1"
            variant="link"
            class="self-start p-0 text-indigo-500 hover:decoration-indigo-500">
        Use Passkey instead (more secure)
    </Button>
</AuthLayout>
