---
import AuthLayout from "../../layouts/AuthLayout.astro";
import EncryptionAuthentication from "./EncryptionAuthentication.svelte";
import EncryptionAuthenticationAlert from "./EncryptionAuthenticationAlert.svelte";
---

<AuthLayout step={2} class="flex flex-col gap-2">
    <h1 class="font-bold text-lg">Let's set up encryption</h1>
    <EncryptionAuthenticationAlert client:load />
    <p class="text-neutral-600 leading-tight">
        Use your passkey again to set up encryption for all of your data going forward.
    </p>
    <EncryptionAuthentication client:load />
</AuthLayout>