---
export const prerender = false;

import AuthLayout from "../../layouts/AuthLayout.astro";
import RegistrationMenu from "./RegistrationMenu.svelte";
---

<AuthLayout class="text-center flex flex-col items-center gap-2">
    <h1 class="font-bold text-lg">Let's set up your login method</h1>
    <p class="leading-tight w-1/3">It is recommended to use passkeys as they are secure. Only use a password if your device does not yet support passkeys.</p>
    <RegistrationMenu client:load />
</AuthLayout>