---
import AuthLayout from "../../layouts/AuthLayout.astro";
import PasskeyLogin from "@components/dynamic/complex/PasskeyLogin.svelte";
---

<AuthLayout class="flex flex-col gap-2 text-center" isLogin="true">
    <h1 class="text-xl font-bold">Welcome Back!</h1>
    <p class="text-neutral-600 mb-2">Use your passkey to log in securely</p>
    <PasskeyLogin client:load />
</AuthLayout>
