---
import AuthLayout from "../../layouts/AuthLayout.astro";
import PasswordLogin from "./PasswordLogin.svelte";
---

<AuthLayout class="flex flex-col gap-2 text-center items-center" isLogin="true">
    <h1 class="text-xl font-bold">Welcome Back!</h1>
    <p class="text-neutral-600 max-w-96">Use your password to log in. If you can, try upgrading to passkey authentication for increased security.</p>
    <PasswordLogin client:load />
    <p class="text-sm"><a href="/login">Use Passkey Instead</a></p>
</AuthLayout>