---
import DashboardLayout from '../../../layouts/DashboardLayout.astro';
import CreateTransactionWrapper from './CreateTransactionWrapper.astro';
// import TransactionTable from "./TransactionTable.svelte";
---

<DashboardLayout active="transactions">
  <section class="flex items-end gap-2">
    <CreateTransactionWrapper server:defer>
      <p slot="fallback">Loading</p>
    </CreateTransactionWrapper>
  </section>
  <section>
    <!--<TransactionTable client:load />-->
  </section>
</DashboardLayout>
