---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
import CreateTransaction from "../CreateTransaction.svelte";
import TransactionTable from "./TransactionTable.svelte";
---

<DashboardLayout active="transactions">
    <section class="flex items-end gap-2">
        <CreateTransaction client:load />
    </section>
    <section>
        <TransactionTable client:load />
    </section>
</DashboardLayout>
