@import "tailwindcss";

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}

@theme {
    --animate-blink: blink 1s ease-in-out infinite;
    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
}