---
const { class: additionalClasses = '' } = Astro.props;
---

<div class={`row-start-2 col-start-2 border border-neutral-300 rounded-lg bg-white py-3 px-5 ${additionalClasses}`}>
    <slot />
</div>
