---
import SignupForm from "@components/dynamic/complex/SignupForm.svelte";
import AuthLayout from "../../layouts/AuthLayout.astro";
---

<AuthLayout class="gap-2" step={0}>
    <h1 class="font-bold text-xl">Let's set up your Account</h1>
    <p class="w-3/4 text-neutral-600">Anything you enter here can be changed later.</p>
    <SignupForm client:load />
</AuthLayout>
