---
export const prerender = false

import { ViewTransitions } from 'astro:transitions';
import Layout from "./Layout.astro";

const { class: className = '', isLogin = false } = Astro.props;

const anim = {
    old: {
        name: 'shortSlide',
        duration: '0.2s',
        easing: 'ease-in',
        direction: 'reverse',
    },
    new: {
        name: 'shortSlide',
        duration: '0.2s',
        easing: 'ease-in-out',
    },
};


// TODO fix animation
const shortSlide = {
    forwards: anim,
    backwards: anim,
};
---

<Layout class="grid h-screen place-content-center" title={`swifi - ${isLogin ? 'login' : 'setup'}`}>
    <header class="flex justify-center mb-6" transition:name="authheader">
        <div class="w-16 h-16 bg-red-500 rounded-lg logo-conic text-white text-3xl font-bold grid place-content-center">S</div>
    </header>
    <div transition:animate="fade" class={className}>
        <slot />
    </div>
    <footer class="text-center" transition:name="authfooter">
        {
            isLogin ? <p class="text-sm">Dont have an Account? <a href="/setup/step1">Sign Up</a></p>
                : <p class="text-sm">Already have an Account? <a href="/login">Log In</a></p>
        }
    </footer>
</Layout>
<ViewTransitions />

<style>
    .logo-conic {
        background:
            radial-gradient(circle at 90% 80%, theme('colors.violet.400'), transparent 70px),
            radial-gradient(circle at 80% 0%, theme('colors.green.400'), transparent 40px),
            radial-gradient(circle at 0% 0%, theme('colors.yellow.400'), transparent 80px),
            radial-gradient(circle at 10% 60%, theme('colors.orange.400'), transparent 30px);
        background-blend-mode: overlay;
    }

    // TODO fix animation
    @keyframes shortSlide {
        0% {
            opacity: 0;
            transform: translateX(200px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
</style>
