---
import DashboardLayout from "./DashboardLayout.astro";
import { Button } from '@components/ui/button';

const { class: className = '', active = "account" } = Astro.props;

const fn = (route: string): string => active === route ? "bg-neutral-100" : "";
---

<DashboardLayout>
    <header class="flex flex-col gap-2">
        <h1 class="text-2xl">Settings</h1>
        <nav>
            <ul class="flex gap-1">
                <li><Button client:load class={fn('account')} size="sm" variant="transparent" href="/dashboard/settings/account">Account</Button></li>
                <li><Button client:load class={fn('security')} size="sm" variant="transparent" href="/dashboard/settings/security">Security</Button></li>
            </ul>
        </nav>
    </header>
    <main class={className}>
        <slot />
    </main>
</DashboardLayout>
